.T2,
.T3,
.T4,
.T5,
.om_mig_p,
.kontakt {
  padding: 2em;
  margin-left: 10vw;
  margin-right: 10vw;
}
p {
  line-height: 2;
  margin-bottom: 1.75em;
}
@media (min-width: 800px) {
  .T2,
  .T3,
  .T4,
  .T5,
  .om_mig_p,
  .kontakt {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
    font-size: 18px;
  }
  .om_mig_billede img {
    width: 900px;
    margin: 0 auto;
    display: block;
  }
  .hover_billede {
    width: 800px;
    height: 700px;
    margin: 0 auto;
    /* display: block; */
  }
}
