/* Generelt CSS */
:root {
  background-color: rgba(242, 240, 233, 1);
}
@font-face {
  font-family: "Anton";
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: "Fira_Sans_Condensed";
  src: url(../fonts/FiraSansCondensed-Light.ttf);
}
@font-face {
  font-family: "Yantramanav";
  src: url(../fonts/Yantramanav-Thin.ttf);
}
h1 {
  font-family: "Anton";
  font-size: 50px;
}
h2 {
  font-family: "Fira_Sans_Condensed";
}
p,
li {
  font-family: "Yantramanav";
}
.hjemmeside_link a,
.footer_indhold a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  font-family: "Yantramanav";
  font-weight: bold;
}
.mine_projekter,
.om_mig_billede,
.tema_billeder {
  background-color: rgba(90, 126, 85, 1);
}
.projekter_h1,
.kontakt_cirkel {
  color: rgba(242, 240, 233, 1);
  text-align: center;
}
.projekter_h1 {
  font-size: 30px;
}

.erfaringer_h1 {
  text-align: center;
}

/* hover på billeder */
.hover_billede {
  margin: 0em;
  padding: 3em;
  text-align: center;
  height: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  position: relative;
  z-index: 1;
}
.hover_billede:hover {
  filter: grayscale(0%);
  z-index: 0;
}

/* tekst på billeder forside */
.T2_billede,
.T3_billede,
.T4_billede,
.T5_billede {
  width: 100%;
  height: auto;
  position: relative;
}
.T2_billede img,
.T3_billede img,
.T4_billede img,
.T5_billede img {
  width: 100%;
}
.T2_billede .text,
.T3_billede .text,
.T4_billede .text,
.T5_billede .text {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  left: 50%;
  top: 50%;
  font-size: 30px;
  text-align: center;
  transform: translate(-50%, -50%); /* placere teksten præcis i midten */
  pointer-events: none; /* gør at linket ikke blinker når man har musen over */
}

@media (min-width: 900px) {
  .projekter_h1 {
    font-size: 50px;
  }
}
